.track {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.trackAction {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.trackAction:hover {
  color: rgba(265, 265, 265, .5);
}

.trackInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45px;
}

.trackInformation h3 {
  font-size: .9rem;
}

.trackInformation p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

@media only screen and (max-width: 560px) {

  .trackInformation h3,
  p {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 460px) {

  .trackInformation h3,
  p {
    max-width: 120px;
  }
}

@media only screen and (max-width: 260px) {

  .trackInformation h3,
  p {
    max-width: 80px;
  }
}
