.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.2rem;
  padding-bottom: 1.7rem;
}

.searchBar input {
  width: 300px;
  padding: .7rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 1.1rem;
  color: #010c3f;
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchBar input:focus {
  outline: none;
}

@media only screen and (max-width: 720px) {
  .searchBar input {
    width: 245px;
    padding: .55rem 0;
  }
}

@media only screen and (max-width: 360px) {
  .searchBar {
    padding-top: 4rem;
    padding-bottom: 0.8rem;
  }

  .searchBar input {
    width: 185px;
    padding: .4rem 0;
  }
}
